<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>Is it completed? <%= @task.completed %></p>

<%= link_to "Delete?", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
